.formdiv{
     
    
    border:1px solid teal;
    margin-left: 300px;
    margin-top: 40px;
    margin-right: 200px;
    margin-bottom: 300px;
    font-weight: bold;
    border-radius: 20px;
    position: fixed;
    font-family: Verdana;
	
}

.align{
    
margin-left: 50px;
margin-right: 60px;
margin-top: 50px;
margin-bottom: 50px;
}
#text{


	width: 100%;
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: 10;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  font-weight: 10;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}